<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="josn">
        <div>{{err}}</div>
        <button type="submit">
            submit
        </button>
    </form>
                <a href="/logout" class="card-link">Logout</a>
            <a href="/upload" class="card-link">Upload</a>
</body>

</html>